<h1>List</h1>

* mix of data types.
* are ordered - can lookup elements by index.
* are mutable - can be changed

In [4]:
names = ["vivek", "dumbledore","harry","ron","hermione","draco"]
capitalized_name = []
for name in names:
    capitalized_name.append(name.title())
    
# equals(do.. for)
capitalized_name = [name.title() for name in names]
capitalized_name

['Vivek', 'Dumbledore', 'Harry', 'Ron', 'Hermione', 'Draco']

In [ ]:
# do.. for.. if
squares = [x**2 for x in range(9) if x%2 == 0]
squares

# adding else condition
cubes = [y**3 if y<5 else y*2 for y in range(11) ]
cubes

[0, 1, 8, 27, 64, 10, 12, 14, 16, 18, 20]

In [25]:
names = ["vivek kumar","ana steel","hanna baker","mad eye","professor snap"]
first_name = [name.split(" ")[0] for name in names]
print(first_name)

scores = {
    "vivek" : 99,
    "ana" : 88,
    "hanna" : 23,
    "mad" : 98,
    "professor" : 100
}
passed = [name for name, score in scores.items() if score>=65]
print(passed)

['vivek', 'ana', 'hanna', 'mad', 'professor']
['vivek', 'ana', 'mad', 'professor']

In [24]:
even_num = [x for x in range(21) if x%2==0]
even_num

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

<h5>lambda functions</h5>

In [ ]:
# lambda functions - lambda (arg1,arg2):do_a_thing_and_return_it
multiply = lambda x,y,z:x*y*z
multiply(4,6,2)

48

<h5> map()- apply lambda function to a list</h5>

In [ ]:
numbers = [
    [23,42,11,44,34],
    [22,66,22,11,75],
    [32,98,15,78,34],
    [28.89,24,11,44]
]
# mean = lambda num_list : sum(num_list)/len(num_list)
# averages = list(map(mean,numbers))

averages = list(map(lambda num_list : sum(num_list)/len(num_list),numbers))
print(averages)

[30.8, 39.2, 51.4, 26.9725]

<h5>filter()-apply lambda function to a list</h5>

In [42]:
#example of using filter() to apply lambda function to a list
cities = ["New York City","Los Angeles","Chicago","Mountain View", "Denver","Boston","Tokyo","Spain"]
is_short = lambda : len(name)<10
short_cities = list(filter(is_short,cities))

TypeError: <lambda>() takes 0 positional arguments but 1 was given